{% extends 'Leads/base.html' %}
{% block title %}
Create Agent
{% endblock %}
{% block content %}

    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
            <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
                <h1 class="title-font font-medium text-3xl text-white">Slow-carb next level shoindxgoitch ethical authentic, poko scenester</h1>
                <p class="leading-relaxed mt-4">Poke slow-carb mixtape knausgaard, typewriter street art gentrify hammock starladder roathse. Craies vegan tousled etsy austin.</p>
            </div>
            <div class="lg:w-2/6 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
                <h2 class="text-white text-lg font-medium title-font mb-5">Create a Agent's profile</h2>
                <form method = "POST">
                    {% csrf_token %}
                    <div class="relative mb-4">
                        <label for="full-name" class="leading-7 text-sm text-gray-400">First Name</label>
                        <p>{{ form.as_p }}</p>
                    </div>
                    <div class="relative mb-4">
                        <label for="full-name" class="leading-7 text-sm text-gray-400">Last Name</label>
                        <p> {{ form.organization }}</p>
                    </div>
                    <div class="relative mb-4">
                        <label for="email" class="leading-7 text-sm text-gray-400">Age</label>
                        <p class="w-full">{{ form.age }}</p>
                    </div>
                    <div class="relative mb-4">
                        <label for="email" class="leading-7 text-sm text-gray-400">Agent</label>
                        <p>{{ form.agent }}</p>
                    </div>
                    <button class="text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">Create</button>
                </form>
                <p class="text-xs mt-3">Literally you probably haven't heard of them jean shorts.</p>
            </div>
        </div>
    </section>

{% endblock %}